name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          zip unzip openjdk-17-jdk \
          python3-pip git \
          libffi-dev libssl-dev \
          autoconf automake libtool pkg-config \
          zlib1g-dev

    - name: Install Android SDK
      uses: android-actions/setup-android@v3

    - name: Accept Android licenses
      run: yes | sdkmanager --licenses

    - name: Install required SDK packages
      run: |
        sdkmanager \
          "platforms;android-33" \
          "build-tools;33.0.2" \
          "platform-tools"

    - name: Install Buildozer
      run: |
        pip install --upgrade pip
        pip install cython==0.29.36 buildozer

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk
