name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            git zip unzip openjdk-17-jdk \
            libffi-dev libssl-dev \
            python3-pip python3-setuptools \
            python3-wheel build-essential

      - name: Install Buildozer & Cython
        run: |
          pip install --upgrade pip
          pip install buildozer cython

      # STEP PENTING: trigger buildozer supaya SDK & cmdline-tools dibuat
      - name: Initialize Android SDK (Buildozer)
        run: |
          buildozer android help || true

      # STEP PALING PENTING: accept license dari lokasi SDK YANG SUDAH ADA
      - name: Accept Android SDK licenses
        run: |
          yes | ~/.buildozer/android/platform/android-sdk/cmdline-tools/latest/bin/sdkmanager --licenses

      - name: Build APK
        run: |
          buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: APK
          path: bin/*.apk
