name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # ANDROID SDK RESMI
      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      # INSTALL BUILD TOOLS (INI KUNCI AIDL)
      - name: Install Android build-tools & platform-tools
        run: |
          sdkmanager "platform-tools" "platforms;android-33" "build-tools;33.0.2"
          yes | sdkmanager --licenses

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            git zip unzip openjdk-17-jdk \
            libffi-dev libssl-dev \
            python3-pip python3-setuptools \
            python3-wheel build-essential

      - name: Install Buildozer & Cython
        run: |
          pip install --upgrade pip
          pip install buildozer cython

      - name: Build APK
        run: |
          buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: APK
          path: bin/*.apk
